<div class="rq_main">
  <div class="space">
      <div class="space-lg"></div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="rq_main_header">
                  <div class="row">
                      <div class="col">
                          <h2>Registered Customers</h2>
                      </div>
                      <div class="col">
                          <div class="rq_rolldownbutton">
                              <span>Today:</span>
                              <strong>20 Apr</strong>
                              <div (click)="toggle_roll_button()" class="rq_rollcaret"></div>
                              <div id="rq_rolldropdown" class="rq_rolldropdown">
                                  <ul>
                                      <li class="active">Today</li>
                                      <li>Yesterday</li>
                                      <li>Last 7 Days</li>
                                      <li>Last 30 Days</li>
                                      <li>This Month</li>
                                      <li>Last Month</li>
                                      <li>Custom Range</li>
                                  </ul>
                                  <button class="redd">Apply</button>
                                  <button>Cancel</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <form style="float: right;" class="">
                              <input type="search" class="rq_search" id="" name="" placeholder="Search">
                              <button>

                              </button>
                          </form>
                          <button class="new_user">New Admin User</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="space">
              <div class="space-md"></div>
          </div>

          <div class="col-12 rq_adjustable">
              <table>
                  <tr>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Current Sign In At</th>
                      <th>Last Sign In At</th>
                      <th>Status</th>
                  </tr>
                  <tr>
                    <td>oluwatayo.alofun@interswitchgroup.com</td>
                    <td>Super Admin </td>
                    <td>April 26, 2018 15:10</td>
                    <td>April 20, 2018 12:17</td>
                    <td><sub></sub> Active <sup>...</sup></td>
                  </tr>
                  <tr>
                      <td>zorra_kessler@yahoo.com</td>
                      <td>Super Admin </td>
                      <td>April 26, 2018 15:10</td>
                      <td>April 20, 2018 12:17</td>
                      <td><sub></sub> Active <sup>...</sup></td>
                  </tr>
                  <tr>
                      <td>lane_thiel@vivien.co.uk</td>
                      <td>Super Admin </td>
                      <td>April 26, 2018 15:10</td>
                      <td>April 20, 2018 12:17</td>
                      <td><sub class="inactive"></sub> Inactive <sup>...</sup></td>
                  </tr>
                  <tr>
                    <td>earl_conn@myah.biz</td>
                    <td>Super Admin </td>
                    <td>April 26, 2018 15:10</td>
                    <td>April 20, 2018 12:17</td>
                    <td><sub></sub> Active <sup>...</sup></td>
                  </tr>
                  <tr>
                      <td>gino.tillman@bernhard.com</td>
                      <td>Super Admin </td>
                      <td>April 26, 2018 15:10</td>
                      <td>April 20, 2018 12:17</td>
                      <td><sub></sub> Active <sup>...</sup></td>
                  </tr>
                  <tr>
                      <td>alexis_boyer@yahoo.com</td>
                      <td>Super Admin </td>
                      <td>April 26, 2018 15:10</td>
                      <td>April 20, 2018 12:17</td>
                      <td><sub></sub> Active <sup>...</sup></td>
                  </tr>
                  <tr>
                      <td>joanie_stroman@gmail.com</td>
                      <td>Super Admin </td>
                      <td>April 26, 2018 15:10</td>
                      <td>April 20, 2018 12:17</td>
                      <td><sub></sub> Active <sup>...</sup></td>
                  </tr>
                  <tr>
                      <td>emely_zboncak@yahoo.com</td>
                      <td>Super Admin </td>
                      <td>April 26, 2018 15:10</td>
                      <td>April 20, 2018 12:17</td>
                      <td><sub></sub> Active <sup>...</sup></td>
                  </tr>

              

              </table>
              <div class="rq_pagination">
                  <button>&#8249;</button>

                  <span>Page 2 of 3</span>

                  <button>&#8250;</button>
              </div>
              <div class="rq_details">
                  <div class="row">
                      <div class="col">
                          <p class="left">Displaying Users 1 - 39 of 39 in total</p>
                      </div>
                      <div class="col">
                          <p class="right">Download: <span>CSV XML JSON</span></p>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
