<div class="rq_main">
  <div class="space">
      <div class="space-lg"></div>
  </div>
  <div class="container">
      <div class="row ">
          <div class="col-md-12 ">
              <div class="rq_main_header">
                  <div class="row">
                      <div class="col">
                          <h2>Dashboard</h2>
                      </div>
                      <div class="col"></div>
                      <div class="col-md-6">
                          <form>
                              <input type="search" class="rq_search" id="" name="" placeholder="Search">
                              <button>

                              </button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="space">
              <div class="space-md"></div>
          </div>
          <div class="col-md-6 ">
              <div class="row">
                  <div class="col-md-6">
                      <div class="rq_chart_box rq_chart_box_sm rq_chart_box_red">
                          <div class="rq_chart_box_body">
                              <h1>1,234</h1>
                              <p>Registered Customers</p>
                              <img id ="smallimg" src="assets/img/1.PNG" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="rq_chart_box rq_chart_box_sm rq_chart_box_green">
                          <div class="rq_chart_box_body">
                              <h1>3,456</h1>
                              <p>Value of Redemptions</p>
                              <img id ="smallimg" src="assets/img/2.PNG" alt="">
                            </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="rq_chart_box rq_chart_box_sm rq_chart_box_blue">
                          <div class="rq_chart_box_body">
                              <h1>3,456</h1>
                              <p>Points Redeemed</p>
                              <img id ="smallimg" src="assets/img/3.PNG" alt="">
                            </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="rq_chart_box rq_chart_box_sm rq_chart_box_purple">
                          <div class="rq_chart_box_body">
                              <h1>3,456,789</h1>
                              <p>Cash Spend(Debit Card)</p>
                              <img id ="smallimg" src="assets/img/4.PNG" alt="">
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="rq_chart_box rq_chart_box_bg rq_chart_box_red">
                  <div class="rq_chart_box_header">
                      <h3>Summary</h3>
                      <div class="right">
                          <button>Month</button>
                          <button class="red">All Time</button>
                      </div>
                  </div>
                  <div class="rq_chart_box_body">
                      <div class="row">
                          <div class="col">
                              <p>Lorem Ipsum</p>
                              <h3>123456789</h3>
                              <br>
                              <p>Lorem Ipsum</p>
                              <h3>123456789</h3>
                          </div>
                          <div class="col">
                              <p>Lorem Ipsum</p>
                              <h3>123456789</h3>
                              <br>
                              <p>Lorem Ipsum</p>
                              <h3>123456789</h3>
                          </div>
                      </div>
                  </div>
                  <img id = "big" src="assets/img/5.PNG" alt="">

              </div>
          </div>
      </div>
  </div>
</div>